/*=============== NAV BAR ===============*/
@media (max-width: 900px) {
  .nav-links a {
    font-size: 1rem;
  }
  .nav-links {
    margin-right: 20px;
    gap: 2.5rem;
  }
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .nav-links {
    display: none;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background: #ff5f17;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
  }

  .nav-links.active {
    display: flex;
  }
  @media (max-width: 480px) {
    .logo {
      margin-left: 0px;
    }
  }
  /* Hamburger animation */
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
}
/*=============== HERO SECTION ===============*/
/* Responsive Design */
@media (max-width: 1280px) {
  .right-content {
    transform: rotate(0deg);
}
}
@media (max-width: 968px) {
  .hero-content {
    margin-top: 50px;
    flex-direction: column;
    text-align: center;
  }
  .right-content {
    transform: rotate(10deg);
}
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .right-content {
    order: 1;
    margin-top: 0px;
    margin-left: 0px;
  }
  .left-content {
    margin-top: 0px;
    padding-top: 10px;
  }
  .hero-image {
    max-width: 80%;
    margin: 0 auto;
  }
  .right-content::after {
    width: 400px;
    height: 400px;
    bottom: -70px;
    left: -70px;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
  .hero {
    padding: 1rem;
  }
  .right-content::after {
    width: 350px;
    height: 400px;
    bottom: -130px;
    left: -90px;
  }
}
/*=============== SECTION TWO ===============*/
@media (max-width: 480px) {
  .sec-one h1{
    font-size: 2rem;
  }
  .sec-one p{
    width: 330px;
  }
}

@media (max-width: 900px) {
  .sec-one p{
    width: 350px;
  }
  .section-two-grid {
    
      grid-template-columns: repeat(2, 1fr);
  }

}
@media (max-width: 600px) {
  .section-two-grid {
      grid-template-columns: 1fr;
  }
}
/*=============== ABOUT SECTION ===============*/

@media (max-width: 1108px) {
  .about-section {
    padding: 10px;
      flex-direction: column;
      text-align: center;
  }
  .content-section p {
    padding: 10px;
    width: 500px;
  /* text-align: justify; */
  }
  .content-section h1::after {
      left: 50%;
      transform: translateX(-50%);
  }

  .image-section {
    order: 2;
}

.content-section {
    order: 1;
}
}
@media (max-width: 480px) {
  .about-section p {
    width: 330px;
  }
  .image-section img {
    margin-top: -20px;
    width: 400px;
    padding: 30px;
}

  }